.p-body {
    background-color: #ebedef;
    min-height: 100vh;
}

.p-new {
    background-color: #ebedef;
    min-height: 100vh;
    margin-left: 0px;
}

.p-header {
    background: #fff;
    border-bottom: 1px solid #d8dbe0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    min-height: 61px;
}

.p-profile {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.userAstronaut {
    position: absolute;
    background: url("../../img/user.png");
    width: 64px;
    height: 64px;
}

@media (min-width: 768px) {
    .p-body  {
        margin-left: 200px;
    }
}